<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{ botname }} main menu. For everything to do with {{ botname }}, I guess.">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<title>{{ botname }}</title>
	</head>

	<body>
		<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
			<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">{{ botname }}</a>

			<div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false">
				<ul class="navbar-nav mr-auto">
					{{#user}}
					<li class="nav-item">
						<span class="nav-link">Logged in as {{ name }}</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">Log out</a>
					</li>
					{{/user}}
					{{^user}}
					<li class="nav-item">
						<a class="nav-link" href="/auth/login/discord">Login</a>
					</li>
					{{/user}}

				</ul>
			</div>
		</nav>
		<br><br>

		<div class="jumbotron">
			<div class="container">
				<h1 class="display-1">{{ botname }}</h1>
				<h2>as a website</h2>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2>Manual</h2>
					<p>Enter the MSS list of commandy commands here.</p>
					<p>
						<a class="btn btn-secondary" href="/promo" role="button">Enter »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>Info</h2>
					<p>Check information for the bot and the server</p>
					<p>
						<a class="btn btn-secondary" href="/info" role="button">Enter »</a>
					</p>
				</div>
				<div class="col-md-4">
					<h2>{{ botname }}</h2>
					<p>Invite {{ botname }} to your server</p>
					<p><a class="btn btn-secondary" href="https://discordapp.com/oauth2/authorize?&client_id=257547382277931009&scope=bot&permissions=70765632" role="button">Invite »</a></p>
				</div>
			</div>

			<hr>

			<footer>
				<p>&copy; 2015 - 2017 moustacheminer.com</p>
				<i>Powered by yesterday</i>
			</footer>
		</div>

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	</body>
</html>
