<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="MSS-DECtalk provides a repository of DECtalk compatible tunes, as well as a cloud service to play sounds.">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<title>MSS-Discord</title>
	</head>

	<body>
		{{^navoff}}
		<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
			<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/">MSS-Discord</a>

			<div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false">
				<ul class="navbar-nav mr-auto">
					{{#user}}
					<li class="nav-item">
						<span class="nav-link">Logged in as {{ name }}</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">Log out</a>
					</li>
					{{/user}}
					{{^user}}
					<li class="nav-item">
						<a class="nav-link" href="/auth/login/discord">Login</a>
					</li>
					{{/user}}
				</ul>
			</div>
		</nav>
		<br><br>
		{{/navoff}}

		<div class="jumbotron">
			<div class="container">
				<h1 class="display-1">MSS-Discord</h1>
				<h2>but you're looking at info</h2>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>Moustacheminer Server Services</h2>
					<ul class="list-group">
						<li class="list-group-item justify-content-between">
							Shards
							<span class="badge badge-default badge-pill">{{ data.shards }}</span>
						</li>
						<li class="list-group-item justify-content-between">
							Guilds
							<span class="badge badge-default badge-pill">{{ data.guilds }}</span>
						</li>
						<li class="list-group-item justify-content-between">
							Users
							<span class="badge badge-default badge-pill">{{ data.users }}</span>
						</li>
						<li class="list-group-item justify-content-between {{ data.ping.css }}">
							Ping
							<span class="badge badge-default badge-pill">{{ data.ping.min }} - {{ data.ping.max }}</span>
						</li>
						<li class="list-group-item justify-content-between">
							Hardware
							<span class="badge badge-default badge-pill">{{ data.software }}</span>
						</li>
						<li class="list-group-item justify-content-between">
							Software
							<span class="badge badge-default badge-pill">{{ data.hardware }}</span>
						</li>
						<li class="list-group-item justify-content-between">
							Hostname
							<span class="badge badge-default badge-pill">{{ data.hostname }}</span>
						</li>
						<li class="list-group-item justify-content-between">
							Uptime
							<span class="badge badge-default badge-pill">{{ data.uptime }}</span>
						</li>
					</ul>
				</div>
			</div>

			<hr>

			<footer>
				<p>&copy; 2015 - 2017 moustacheminer.com</p>
				<i>Powered by yesterday</i>
			</footer>
		</div>

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	</body>
</html>
