<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{ botname }} help menu. To give help, of course.">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
		<title>{{ botname }}</title>
	</head>

	<body>
		{{^nav}}
		<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
			<button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/">{{ botname }}</a>

			<div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false">
				<ul class="navbar-nav mr-auto">
					{{#user}}
					<li class="nav-item">
						<span class="nav-link">Logged in as {{ name }}</span>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">Log out</a>
					</li>
					{{/user}}
					{{^user}}
					<li class="nav-item">
						<a class="nav-link" href="/auth/login/discord">Login</a>
					</li>
					{{/user}}
				</ul>
			</div>
		</nav>
		<br><br>

		<div class="jumbotron">
			<div class="container">
				<h1 class="display-1">{{ botname }}</h1>
				<h2>but you're finding help</h2>
			</div>
		</div>
		{{/nav}}

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="accordion" role="tablist" aria-multiselectable="true">
						{{ #command }}
						<div class="card">
							<a name="{{ id }}"></a>
							<div class="card-header" role="tab" id="heading_{{ id }}">
								<h5 class="mb-0">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse_{{ id }}" aria-expanded="true" aria-controls="collapse_{{ id }}">
										{{ message.embed.title }} <span class="badge badge-default badge-pill">{{ permission }}</span>
									</a>
								</h5>

							</div>
							<div id="collapse_{{ id }}" class="collapse" role="tabpanel" aria-labelledby="heading_{{ id }}">
								<div class="card-block">
									<p>{{ message.embed.description }}</p>
									{{ #message.embed.fields }}
									<code>mss {{ id }} {{ name }}</code>
									<p>{{ value }}</p>
									{{ /message.embed.fields }}
								</div>
							</div>
						</div>
						{{ /command }}
					</div>
				</div>
			</div>

			<hr>

			<footer>
				<p>&copy; 2015 - 2017 moustacheminer.com</p>
				<i>Powered by yesterday</i>
			</footer>
		</div>

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	</body>
</html>
